<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Vue 3 Basics</title>
        <style>

            .box {
                background-color: purple;
                height: 200px;
                width: 200px;
            }

            [v-cloak] {
                display: none; 
            }

            input {
                margin: 10px;
                display: block;
            }

        </style>

    </head>

    <body>

        <div id="app" v-cloak>
            
            <login-form />

            <hr />

            <button @click="toggleBox" >Toggle Box</button>
            <div v-if="isVisible" class="box"></div>

        </div>

        <script src="https://unpkg.com/vue@3"></script>
        <script>
            let app = Vue.createApp({
                data: function() {
                    return {
                        greeting: 'Hello Vue 3!',
                        isVisible: false
                    }
                },
                methods: {
                    toggleBox() {
                        this.isVisible = !this.isVisible
                    },
                    greet(greeting) {
                        console.log(greeting)
                    }
                }
            })

            app.component('login-form', {
                template: `
                    <form @submit.prevent="handleSubmit">
                        <h1>{{ title }}</h1>

                        <!-- 2. We create a paragraph and inside its tag we add a 'for in' loop for the 'inputs' array. We use any variable name we want, which holds the value of each item in the array. (something like a forEach() method) -->
                        <!-- We decided to use 'str' as the variable name: -->
                        <!-- We also create a unique key for each element through the loop, which must have a different value each time (unique) -->
                    
                        <p v-for="str in inputs" :key="str">{{ str }}</p>

                        <!-- Here's another way to create a unique key at each iteration through the loop: -->
                        <!-- <p v-for="(str, i) in inputs" :key="i">{{ i }}</p> -->

                        <custom-input v-model="email" :label="emailLabel" />
                        <custom-input v-model="password" :label="passwordLabel" />
                        <button>Log in</button>
                    </form>
                `,

                components: ['custom-input'],

                data() {
                    return {
                        title: 'Login Form',
                        // 1. we add an array containing information for each input, including the variable that we v-model, the label name and the input type:
                        inputs: [
                            'email',
                            'password',
                            'name'
                        ],
                        email: '',
                        password: '',                
                        emailLabel: 'Email',
                        passwordLabel: 'Password'
                    }
                },
                methods: {
                    handleSubmit() {
                        console.log(this.email, this.password)
                    }
                }
            })            

            app.component('custom-input', {
                template: `
                    <label>
                        {{ label }}
                        <input type="text" v-model="inputValue">
                    </label>
                `,

                props: ['label', 'modelValue'],

                computed: {
                    inputValue: {
                        get() {
                            return this.modelValue
                        },
                        set (value) {
                            this.$emit('update:modelValue', value)
                        }
                    }
                }

                // data() {
                //     return {
                //         inputValue: ''
                //     }
                // }
            })

            app.mount('#app')
        </script>

    </body>
</html>